.u-section-1 {background-image: url("images/cloud-computing-502462262-5ac1130e119fa800371ba0a81.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 792px}
.u-section-1 .u-group-1 {width: 555px; min-height: 466px; height: auto; margin: 287px auto 39px -100px}
.u-section-1 .u-container-layout-1 {padding-left: 20px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 6rem; margin: 28px 20px 0 0}
.u-section-1 .u-text-2 {letter-spacing: 1px; margin: 20px 20px 0 0}
.u-section-1 .u-text-3 {font-style: italic; margin: 20px 140px 0 0} 

@media (max-width: 1199px){ .u-section-1 {min-height: 708px}
.u-section-1 .u-sheet-1 {min-height: 653px}
.u-section-1 .u-group-1 {width: 470px}
.u-section-1 .u-container-layout-1 {padding-left: 16px}
.u-section-1 .u-text-1 {position: relative; margin-right: 16px}
.u-section-1 .u-text-2 {position: relative; margin-right: 16px}
.u-section-1 .u-text-3 {margin-right: 115px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-group-1 {width: 360px}
.u-section-1 .u-container-layout-1 {padding-left: 13px}
.u-section-1 .u-text-1 {margin-right: 13px}
.u-section-1 .u-text-2 {margin-right: 13px}
.u-section-1 .u-text-3 {margin-right: 88px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 375px}
.u-section-1 .u-group-1 {width: 338px}
.u-section-1 .u-container-layout-1 {padding-left: 9px}
.u-section-1 .u-text-1 {margin-right: 9px}
.u-section-1 .u-text-2 {margin-right: 9px}
.u-section-1 .u-text-3 {margin-right: 66px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 708px}
.u-section-1 .u-group-1 {min-height: 553px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 6px}
.u-section-1 .u-text-1 {margin-top: 55px; margin-right: 6px}
.u-section-1 .u-text-2 {margin-right: 6px}
.u-section-1 .u-text-3 {margin-right: 42px} }